#YourTodosHead{
    display:block;
    width: 20%;
    text-align: center;
    /* margin: auto; */
    align-content:center;
}
.queryTxt{
    padding:5px;
    margin-top:20px;
    margin-bottom:20px;
    width:30%;
}
.todos-Container{
    padding:10px;
    margin-top:20px;
    margin-bottom:20px;
}
.remove{
    padding:5px;
    margin-top:20px;
    width:30%;
    text-align:center;
}