

<link rel="stylesheet" href="https://stackpath.bootstrapcdn.com/font-awesome/4.7.0/css/font-awesome.min.css">

<section class="our-webcoderskull padding-lg">
  <div class="container">
    <div class="row heading heading-icon">
        <h2>Developer</h2>
    </div>
    <ul class="row">
      <li class="col-12 col-md-10  col-lg-12 align-self-center">
          <div class="cnt-block equal-hight" style="height: 349px;">
            <figure><img src="./assets/harshal.jpg" class="img-responsive" alt=""></figure>
            <h3><a >Harshal Gawde</a></h3>
            <p>Software Developer</p>
            <ul class="follow-us clearfix">
                <li><a href="https://www.facebook.com/harshal.gawde.77" target="_blank" rel="noopener noreferrer"><i class="fa fa-facebook" aria-hidden="true"></i></a></li>
                <li><a href="https://twitter.com/harshalgawde_99" target="_blank" rel="noopener noreferrer"><i class="fa fa-twitter" aria-hidden="true"></i></a></li>
                <li><a href="https://www.linkedin.com/in/harshal-gawde-2b8798145/" target="_blank" rel="noopener noreferrer"><i class="fa fa-linkedin" aria-hidden="true"></i></a></li>
            </ul>
          </div>
      </li>
    </ul>
  </div>
</section>